body, html {
	width: 100%;
	height: 100%;
	font-family: 'Philosopher', sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	font-size: 6vh;
	color: #e91d85;
}
hr {
	border-color:#c77d0f;
	border-width: 2px;
	max-width: 70px;
}
.buffer{
	height:18vh;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-xl {
	padding: 1rem 2rem;
}
.btn-primary {
	background-color: #c77d0f;
	border-color: #c77d0f;
}
.btn-primary:hover {
	background-color: #7d4d04;
	border-color: #7d4d04;
	border-width: 2px;
}